.container
  .row
    h4 Press record and read the text below. Press stop button when finished reading.
    h1 After recording atleast 10 files, click the download button to get the zip file. Email this zip file to ritwik.mohanty@avaamo.com
  .row
    div#random_text
  .row
    button#record.btn RECORD
    button#stop.btn STOP
    button#download.btn DOWNLOAD
  .collection#results